<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</header>

<!-- THE INTERACTIVE ASSIGNMENT SECTION -->
<h1 class="text-center">Restful Tasks API</h1>
<button *ngIf="dontShow; else elseBlock" (click)="ButtonShowAll()">Show all!</button>
<ng-template #elseBlock>
  <div class="container">
    <h1 class="text-center">All the tasks:</h1>
    <div class="container" style="border: 2px solid blue;">
      <ul>
        <li *ngFor="let task of tasks">{{task.title}} <button (click)="taskToShow(task)">SHOW</button></li>
      </ul>
    </div>
  </div>
  <div class="root">
    <h1 class="text-center">The task:</h1>
  </div>
  <div class="container" style="border: 2px solid green; min-height: 30px;">
    <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>
  </div>
</ng-template>
<!-- <div class="form-group">
    <label>Enter ID </label>
    <input (keyup)="onKey($event)" type="text" class="form-control">
    <div>
      <p>{{typedTask.title}}</p>
      <p>{{typedTask.desc}}</p>
    </div>
  </div> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>

<!-- THE CRUD OPPERATIONS ASSIGNMENT SECTION -->
<!-- <div class="container">
  <div class="row">
    <div class="col col-md-8">
      <div *ngIf="haveErrors">
        <p>{{errors}}</p>
      </div>
      <h1>New Task:</h1>
      <form (submit)="OnSubmit()">
        <div class="form-group">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            <div *ngIf="title.errors.minlength">
              You need at least 4 characters!
            </div>
          </div>
          <label>Title</label>
          <input type="text" required minlength="4" name="newTask.title" [(ngModel)]="newTask.title"
            class="form-control" #title="ngModel">
        </div>
        <div class="form-group">
          <label>Description</label>
          <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert alert-danger">
            <div *ngIf="desc.errors.minlength">
              You need at least 4 characters!
            </div>
          </div>
          <input type="text" minlength="4" name="newTask.desc" [(ngModel)]="newTask.desc" class="form-control"
            #desc="ngModel">
        </div>
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center">All the tasks:</h1>
      <div *ngFor="let task of tasks" class="container" style="border: 2px solid blue; margin: 2px;">
        <p>{{task.title}} </p>
        <p>{{task.desc}} </p>
        <button (click)="ButtonEdit(task._id)">EDIT</button>
        <button type="submit" (click)="ButtonDelete(task._id)">DELETE</button>
      </div>
    </div>
    <div class="col">
      <h1 *ngIf="dontShow" class="text-center">The task:</h1>
      <div *ngIf="dontShow" class="container" style="border: 2px solid green; min-height: 30px;">
        <form (submit)="EditSubmit(editTask._id)">
          <div class="form-group">
            <label>Title</label>
            <input type="text" name="editTask.title" [(ngModel)]="editTask.title" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" name="editTask.desc" [(ngModel)]="editTask.desc" class="form-control">
          </div>
          <button type="submit">Submit</button>
        </form>

      </div>
    </div>


  </div>
</div> -->